.contact-hero {

    .contact-content {

        .contact-title {
            h1 {
                max-width: 730px;
                font-family: $font2;
                font-weight: 400;
                font-size: 56px;
                line-height: 56px;
                letter-spacing: -0.430769px;
                color: #36536B;
                margin-bottom: 50px;
            }
        }
        
    }


}